{% extends "base.twig" %}
{% block title %}UserAccount{% endblock %}
{% block content %}
<nav class="navbar nav-bg navbar-expand-lg mb-5 p-4">
    <div class="container-fluid ">
        <a class="navbar-brand" href="/"><h1 class="nav-name">Global News</h1></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/?search=economy">Economy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/?search=business">Business</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        More
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/?search=health">Health</a></li>
                        <li><a class="dropdown-item" href="/?search=technology">Technology</a></li>
                        <li><a class="dropdown-item" href="/?search=travel">Travel</a></li>
                        <li><a class="dropdown-item" href="/?search=culture">Culture</a></li>
                    </ul>
                </li>
            </ul>
            <!--Form-->
            <form class="d-flex" action="/" method="get">
                <input class="form-control me-2" type="text" id="search" name="search" placeholder="Search"
                       aria-label="Search" required>
                <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
            <!--Login-->
            <form class="d-flex m-3" action="/login" method="get">
                <button class="btn btn-outline-light" type="submit">Login</button>
            </form>
            <!--Register-->
            <form class="d-flex ml-3" action="/logout" method="get">
                <button class="btn btn-outline-light" type="submit">Logout</button>
            </form>
        </div>
    </div>
</nav>
    {% if success %}
    <div class="container">
        <div class="row justify-content-md-center mt-4">
            <div class="alert alert-success" role="alert"><h3>
                    Welcome, {{ user|capitalize }}!
                </h3></div>
        </div>
    </div>
    {% endif %}
{% endblock %}